.formulario {
    margin: 100px 190px 100px 190px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1250px;
    width: 1250px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group {
    width: 100%;
    margin: 10px 0;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.input-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-group button:hover {
    background-color: #0056b3;
}

/* Media Queries for responsiveness */

@media (min-width: 600px) {
    .input-group {
        flex: 1 1 48%; /* Take 48% of the container's width */
        margin: 10px 1%; /* Add some margin for spacing */
    }

    .input-group input,
    .input-group select {
        width: 100%;
    }
}

@media (min-width: 900px) {
    form {
        width: 80%;
        margin: 0 auto;
    }

    .input-group {
        flex: 1 1 30%; /* Take 30% of the container's width */
        margin: 10px 1%; /* Add some margin for spacing */
    }

}

/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.modal-header h2 {
    margin: 0;
}

.modal-body {
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-footer button:hover {
    background-color: #0056b3;
}

.table, table {
    align-items: center;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid;
    text-align: center;
}